body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#container {
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
		
#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
		
#instructions {
	width: 100%;
	height: 100%;
    font-size: 30px;
    font-family: 'Courier New';
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

#hms {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 15px;
	font-size: 30px;
	box-sizing: border-box;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: #000000;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 100; /* TODO Solve this in HTML */
}




a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}


